'.source.css.less':
  'editor':
    'commentStart': '// '
  'autocomplete':
    'symbols':
      'variable':
        'selector': '.variable'
        'typePriority': 2
      'selector':
        'selector': '.attribute-name.id, .attribute-name.class'
        'typePriority': 1
